# Git
.git
.gitignore

# Docker
.dockerignore
docker-compose*.yml

# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Local development files
.env
*.log

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db